<div>
  <h3>New book</h3>
  <%= form_with model: book, local: true do |f| %>
  <p>Title</p>
  <p><%= f.text_field :title %></p>
  <p>Opinion</p>
  <p><%= f.text_area :body %></p>
  <p><%= f.submit 'Create Book', class: "btn btn-success" %></p>
    
  <% end %>

</div>